In [1]:
!C:\Users\Phellipe\CoderHouse\Scripts\python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\phellipe\coderhouse\lib\site-packages (24.1)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\phellipe\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\phellipe\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\phellipe\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\phellipe\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\phellipe\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
%pip install plyer
%pip install tqdm

import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime
from plyer import notification 
import requests
from tqdm import tqdm

Requirement already satisfied: plyer in c:\users\phellipe\anaconda3\envs\coderhouse_final\lib\site-packages (2.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tqdm in c:\users\phellipe\anaconda3\envs\coderhouse_final\lib\site-packages (4.66.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: colorama in c:\users\phellipe\anaconda3\envs\coderhouse_final\lib\site-packages (from tqdm) (0.4.6)

In [2]:
url = "https://restcountries.com/v3.1/all"

In [3]:
resposta = requests.get(url)
resposta.status_code

200

In [4]:
if resposta.status_code == 200:
    data_json = resposta.json()
else:
    print('erro ao acessar a API')

In [5]:
import pandas as pd
paises = pd.DataFrame(data_json)
paises

,name,tld,cca2,ccn3,cca3,independent,status,unMember,currencies,idd,...,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode,cioc,gini,fifa,borders
0,"{'common': 'Wallis and Futuna', 'official': 'T...",[.wf],WF,876,WLF,False,officially-assigned,False,"{'XPF': {'name': 'CFP franc', 'symbol': '₣'}}","{'root': '+6', 'suffixes': ['81']}",...,[Oceania],"{'png': 'https://flagcdn.com/w320/wf.png', 'sv...",{},monday,"{'latlng': [-13.95, -171.93]}","{'format': '#####', 'regex': '^(986\d{2})$'}",NaN,NaN,NaN,NaN
1,"{'common': 'Iceland', 'official': 'Iceland', '...",[.is],IS,352,ISL,True,officially-assigned,True,"{'ISK': {'name': 'Icelandic króna', 'symbol': ...","{'root': '+3', 'suffixes': ['54']}",...,[Europe],"{'png': 'https://flagcdn.com/w320/is.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [64.15, -21.95]}","{'format': '###', 'regex': '^(\d{3})$'}",ISL,{'2017': 26.1},ISL,NaN
2,"{'common': 'Luxembourg', 'official': 'Grand Du...",[.lu],LU,442,LUX,True,officially-assigned,True,"{'EUR': {'name': 'Euro', 'symbol': '€'}}","{'root': '+3', 'suffixes': ['52']}",...,[Europe],"{'png': 'https://flagcdn.com/w320/lu.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [49.6, 6.12]}","{'format': '####', 'regex': '^(\d{4})$'}",LUX,{'2018': 35.4},LUX,"[BEL, FRA, DEU]"
3,"{'common': 'Mali', 'official': 'Republic of Ma...",[.ml],ML,466,MLI,True,officially-assigned,True,"{'XOF': {'name': 'West African CFA franc', 'sy...","{'root': '+2', 'suffixes': ['23']}",...,[Africa],"{'png': 'https://flagcdn.com/w320/ml.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [12.65, -8.0]}",NaN,MLI,{'2009': 33.0},MLI,"[DZA, BFA, GIN, CIV, MRT, NER, SEN]"
4,"{'common': 'Comoros', 'official': 'Union of th...",[.km],KM,174,COM,True,officially-assigned,True,"{'KMF': {'name': 'Comorian franc', 'symbol': '...","{'root': '+2', 'suffixes': ['69']}",...,[Africa],"{'png': 'https://flagcdn.com/w320/km.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [-11.7, 43.23]}",NaN,COM,{'2014': 45.3},COM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,"{'common': 'Aruba', 'official': 'Aruba', 'nati...",[.aw],AW,533,ABW,False,officially-assigned,False,"{'AWG': {'name': 'Aruban florin', 'symbol': 'ƒ'}}","{'root': '+2', 'suffixes': ['97']}",...,[North America],"{'png': 'https://flagcdn.com/w320/aw.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [12.52, -70.03]}",NaN,ARU,NaN,ARU,NaN
246,"{'common': 'Ghana', 'official': 'Republic of G...",[.gh],GH,288,GHA,True,officially-assigned,True,"{'GHS': {'name': 'Ghanaian cedi', 'symbol': '₵'}}","{'root': '+2', 'suffixes': ['33']}",...,[Africa],"{'png': 'https://flagcdn.com/w320/gh.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [5.55, -0.22]}",NaN,GHA,{'2016': 43.5},GHA,"[BFA, CIV, TGO]"
247,"{'common': 'Saint Martin', 'official': 'Saint ...","[.fr, .gp]",MF,663,MAF,False,officially-assigned,False,"{'EUR': {'name': 'Euro', 'symbol': '€'}}","{'root': '+5', 'suffixes': ['90']}",...,[North America],"{'png': 'https://flagcdn.com/w320/mf.png', 'sv...",{},monday,"{'latlng': [18.07, -63.08]}",{'format': '### ###'},NaN,NaN,NaN,[SXM]
248,"{'common': 'India', 'official': 'Republic of I...",[.in],IN,356,IND,True,officially-assigned,True,"{'INR': {'name': 'Indian rupee', 'symbol': '₹'}}","{'root': '+9', 'suffixes': ['1']}",...,[Asia],"{'png': 'https://flagcdn.com/w320/in.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [28.6, 77.2]}","{'format': '######', 'regex': '^(\d{6})$'}",IND,{'2011': 35.7},IND,"[BGD, BTN, MMR, CHN, NPL, PAK]"
249,"{'common': 'Uganda', 'official': 'Republic of ...",[.ug],UG,800,UGA,True,officially-assigned,True,"{'UGX': {'name': 'Ugandan shilling', 'symbol':...","{'root': '+2', 'suffixes': ['56']}",...,[Africa],"{'png': 'https://flagcdn.com/w320/ug.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [0.32, 32.55]}",NaN,UGA,{'2016': 42.8},UGA,"[COD, KEN, RWA, SSD, TZA]"

In [6]:
paises.columns

Index(['name', 'tld', 'cca2', 'ccn3', 'cca3', 'independent', 'status',
       'unMember', 'currencies', 'idd', 'capital', 'altSpellings', 'region',
       'subregion', 'languages', 'translations', 'latlng', 'landlocked',
       'area', 'demonyms', 'flag', 'maps', 'population', 'car', 'timezones',
       'continents', 'flags', 'coatOfArms', 'startOfWeek', 'capitalInfo',
       'postalCode', 'cioc', 'gini', 'fifa', 'borders'],
      dtype='object')

In [7]:
subregion = [sub for sub in paises['subregion']] 
semana = [week for week in paises['startOfWeek']]
nome = [pais['common'] for pais in paises['name']]

dados_filtrados = {
    'Nome': nome,
    'Semana': semana,
    'Subregiao': subregion
}
dados_filtrados

paises_novo = pd.DataFrame(dados_filtrados)
paises_novo

                  Nome  Semana        Subregiao
0    Wallis and Futuna  monday        Polynesia
1              Iceland  monday  Northern Europe
2           Luxembourg  monday   Western Europe
3                 Mali  monday   Western Africa
4              Comoros  monday   Eastern Africa
..                 ...     ...              ...
245              Aruba  monday        Caribbean
246              Ghana  monday   Western Africa
247       Saint Martin  monday        Caribbean
248              India  monday    Southern Asia
249             Uganda  monday   Eastern Africa

[250 rows x 3 columns]

In [8]:
area_countries = [area for area in paises['area']] 
area_countries

capital_countries = [cap for cap in paises['capital']] 
capital_countries

status = [st for st in paises['status']]
status



dados_filtrados_countries = {
    'Area': area_countries,
    'Capital': capital_countries,
    'Status': status

}

paises_novo_2 = pd.DataFrame(dados_filtrados_countries)
paises_novo_2

          Area       Capital               Status
0        142.0    [Mata-Utu]  officially-assigned
1     103000.0   [Reykjavik]  officially-assigned
2       2586.0  [Luxembourg]  officially-assigned
3    1240192.0      [Bamako]  officially-assigned
4       1862.0      [Moroni]  officially-assigned
..         ...           ...                  ...
245      180.0  [Oranjestad]  officially-assigned
246   238533.0       [Accra]  officially-assigned
247       53.0     [Marigot]  officially-assigned
248  3287590.0   [New Delhi]  officially-assigned
249   241550.0     [Kampala]  officially-assigned

[250 rows x 3 columns]

In [9]:
colunas = ['name', 'currencies', 'region', 'latlng', 'borders', 'area']
novo_dataframe = paises[colunas].copy()

def trocar_moeda(currencies):
    if isinstance(currencies, dict):
        for moeda in currencies:
            name = currencies[moeda].get('name', '')
            symbol = currencies[moeda].get('symbol', '')
            return f"{name} ({symbol})"
    return None


novo_dataframe['currency'] = novo_dataframe['currencies'].apply(trocar_moeda)


nome = [pais['common'] for pais in novo_dataframe['name']]
novo_dataframe['name'] = nome


columns_to_select = ['name', 'currency', 'region', 'latlng', 'borders', 'area']
paises_novo2 = novo_dataframe[columns_to_select]


display(paises_novo2)

,name,currency,region,latlng,borders,area
0,Wallis and Futuna,CFP franc (₣),Oceania,"[-13.3, -176.2]",NaN,142.0
1,Iceland,Icelandic króna (kr),Europe,"[65.0, -18.0]",NaN,103000.0
2,Luxembourg,Euro (€),Europe,"[49.75, 6.16666666]","[BEL, FRA, DEU]",2586.0
3,Mali,West African CFA franc (Fr),Africa,"[17.0, -4.0]","[DZA, BFA, GIN, CIV, MRT, NER, SEN]",1240192.0
4,Comoros,Comorian franc (Fr),Africa,"[-12.16666666, 44.25]",NaN,1862.0
...,...,...,...,...,...,...
245,Aruba,Aruban florin (ƒ),Americas,"[12.5, -69.96666666]",NaN,180.0
246,Ghana,Ghanaian cedi (₵),Africa,"[8.0, -2.0]","[BFA, CIV, TGO]",238533.0
247,Saint Martin,Euro (€),Americas,"[18.0708, 63.0501]",[SXM],53.0
248,India,Indian rupee (₹),Asia,"[20.0, 77.0]","[BGD, BTN, MMR, CHN, NPL, PAK]",3287590.0
249,Uganda,Ugandan shilling (Sh),Africa,"[1.0, 32.0]","[COD, KEN, RWA, SSD, TZA]",241550.0

In [10]:
from plyer import notification 
import requests
#Criando uma definição para ler a URL da API, trazer a notificação se foi bem sucedido a leitura ou não e transformar em um DataFrame
def alerta_base(url): #URL vai ser o parâmetro que vamos ter que passar
        resposta_url = requests.get(url)  #Criei essa variável resposta_url pra armazenar o request.get da url parâmetro
        print(resposta_url.status_code) #Vai printar o valor na tela
        if resposta_url.status_code == 200: #Condição pra verificar se a resposta foi 200 (Conexão bem sucedida)
            resposta_json = resposta_url.json() #Criei essa variável resposta_json pra armazenar a leitura JSON da resposta_url
            print(resposta_json) #Printa na tela o JSON da API
            df_json = pd.DataFrame(resposta_json) #Criei essa variável df_json pra armazenar e transformar o resposta_json em um DataFrame
            print(df_json) #Printa na tela o df_json
            print(df_json.info())
            print(df_json.shape)
            title = "Conexão bem sucedida" #Atribui a title a mensagem para que seja usada posteriormente no notification
        else: 
            title = "Houve algum erro de conexão" #Se der errado, vai aparecer na notificação essa mensagem de erro
    
    #Usando o notification.notify pra exibir a mensagem na tela
        notification.notify(  
        title="Alerta",
        message=title,
        timeout=10
        )

In [11]:
import pandas as pd
import sqlite3

def ajustar_tipos_de_dados(df):
    def processar_valor(valor):
        if isinstance(valor, list):
            return ', '.join(str(v) for v in valor)
        elif isinstance(valor, dict):
            return str(valor)
        else:
            return valor
    
    def processar_coluna(coluna):
        return coluna.apply(processar_valor)
    
    return df.apply(processar_coluna)

# Função para salvar no banco de dados SQLite
def salva_bd(df, nome_tabela):
    '''
    Salva dataframe df na tabela nome_tabela.
    '''
    conn = sqlite3.connect('projetofinal.db')

    # Ajustar tipos de dados complexos
    df = ajustar_tipos_de_dados(df)

    df.to_sql(nome_tabela, conn, if_exists='replace', index=False)

    conn.close()

    return True


# Salvando os DataFrames no banco de dados
salva_bd(paises_novo, 'paises_informacoes_basicas')
salva_bd(paises_novo_2, 'paises_informacoes_adicionais')
salva_bd(paises_novo2, 'paises_moedas')

# Função para listar as tabelas no banco de dados SQLite
def tabelas_bd():
    conn = sqlite3.connect('projetofinal.db')
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    conn.close()
    return [table[0] for table in tables]

# Função para carregar dados de uma tabela do banco de dados SQLite
def carrega_bd(nome_tabela):
    conn = sqlite3.connect('projetofinal.db')
    query = f"SELECT * FROM {nome_tabela};"
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df


# Carregando uma tabela do banco de dados para verificar os dados salvos
df_carregado_1 = carrega_bd('paises_informacoes_basicas')
df_carregado_2 = carrega_bd('paises_informacoes_adicionais')
df_carregado_3 = carrega_bd('paises_moedas')

# Usando df.head() para imprimir as primeiras linhas de cada DataFrame
pd.DataFrame(df_carregado_1)

                  Nome  Semana        Subregiao
0    Wallis and Futuna  monday        Polynesia
1              Iceland  monday  Northern Europe
2           Luxembourg  monday   Western Europe
3                 Mali  monday   Western Africa
4              Comoros  monday   Eastern Africa
..                 ...     ...              ...
245              Aruba  monday        Caribbean
246              Ghana  monday   Western Africa
247       Saint Martin  monday        Caribbean
248              India  monday    Southern Asia
249             Uganda  monday   Eastern Africa

[250 rows x 3 columns]

In [12]:
pd.DataFrame(df_carregado_2)

          Area     Capital               Status
0        142.0    Mata-Utu  officially-assigned
1     103000.0   Reykjavik  officially-assigned
2       2586.0  Luxembourg  officially-assigned
3    1240192.0      Bamako  officially-assigned
4       1862.0      Moroni  officially-assigned
..         ...         ...                  ...
245      180.0  Oranjestad  officially-assigned
246   238533.0       Accra  officially-assigned
247       53.0     Marigot  officially-assigned
248  3287590.0   New Delhi  officially-assigned
249   241550.0     Kampala  officially-assigned

[250 rows x 3 columns]

In [13]:
pd.DataFrame(df_carregado_3)

,name,currency,region,latlng,borders,area
0,Wallis and Futuna,CFP franc (₣),Oceania,"-13.3, -176.2",None,142.0
1,Iceland,Icelandic króna (kr),Europe,"65.0, -18.0",None,103000.0
2,Luxembourg,Euro (€),Europe,"49.75, 6.16666666","BEL, FRA, DEU",2586.0
3,Mali,West African CFA franc (Fr),Africa,"17.0, -4.0","DZA, BFA, GIN, CIV, MRT, NER, SEN",1240192.0
4,Comoros,Comorian franc (Fr),Africa,"-12.16666666, 44.25",None,1862.0
...,...,...,...,...,...,...
245,Aruba,Aruban florin (ƒ),Americas,"12.5, -69.96666666",None,180.0
246,Ghana,Ghanaian cedi (₵),Africa,"8.0, -2.0","BFA, CIV, TGO",238533.0
247,Saint Martin,Euro (€),Americas,"18.0708, 63.0501",SXM,53.0
248,India,Indian rupee (₹),Asia,"20.0, 77.0","BGD, BTN, MMR, CHN, NPL, PAK",3287590.0
249,Uganda,Ugandan shilling (Sh),Africa,"1.0, 32.0","COD, KEN, RWA, SSD, TZA",241550.0

In [14]:
%pip install virtualenv

Collecting virtualenv
  Downloading virtualenv-20.26.3-py3-none-any.whl.metadata (4.5 kB)
Collecting distlib<1,>=0.3.7 (from virtualenv)
  Downloading distlib-0.3.8-py2.py3-none-any.whl.metadata (5.1 kB)
Collecting filelock<4,>=3.12.2 (from virtualenv)
  Downloading filelock-3.15.4-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: platformdirs<5,>=3.9.1 in c:\users\phellipe\anaconda3\envs\coderhouse_final\lib\site-packages (from virtualenv) (3.10.0)
Downloading virtualenv-20.26.3-py3-none-any.whl (5.7 MB)
   ---------------------------------------- 0.0/5.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/5.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/5.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/5.7 MB 330.3 kB/s eta 0:00:18
   - -------------------------------------- 0.2/5.7 MB 1.6 MB/s eta 0:00:04
   ----- ---------------------------------- 0.8/5.7 MB 4.4 MB/s eta 0:00:02
   ------------------ --------------------- 2.6/5.7 MB 10.9 MB/s eta 0:00:01
   ---------------------------- ----------- 4.1/5.7 MB 14.6 MB/s eta 0:00:01
   ---------------------------------------  5.7/5.7 MB 18.2 MB/s eta 0:00:01
   ---------------------------------------- 5.7/5.7 MB 16.5 MB/s eta 0:00:00
Downloading distlib-0.3.8-py2.py3-none-any.whl (468 kB)
   ---------------------------------------- 0.0/468.9 kB ? eta -:--:--
   --------------------------------------- 468.9/468.9 kB 14.8 MB/s eta 0:00:00
Downloading filelock-3.15.4-py3-none-any.whl (16 kB)
Installing collected packages: distlib, filelock, virtualenv
Successfully installed distlib-0.3.8 filelock-3.15.4 virtualenv-20.26.3
Note: you may need to restart the kernel to use updated packages.

In [15]:
pip install virtualenv

Requirement already satisfied: virtualenv in c:\users\phellipe\anaconda3\envs\coderhouse_final\lib\site-packages (20.26.3)
Requirement already satisfied: distlib<1,>=0.3.7 in c:\users\phellipe\anaconda3\envs\coderhouse_final\lib\site-packages (from virtualenv) (0.3.8)
Requirement already satisfied: filelock<4,>=3.12.2 in c:\users\phellipe\anaconda3\envs\coderhouse_final\lib\site-packages (from virtualenv) (3.15.4)
Requirement already satisfied: platformdirs<5,>=3.9.1 in c:\users\phellipe\anaconda3\envs\coderhouse_final\lib\site-packages (from virtualenv) (3.10.0)
Note: you may need to restart the kernel to use updated packages.